#leftcolumn {
	height: 100%;
	width: 20%; 
	margin-top: 0.5em;
	border-right: 0.5px solid black;
	border-radius: 10px;
	border-padding-top: 0.5em;
}

#leftcolumn td {
	font-family: Helvetica, Arial, sans-serif;
	padding-left: 1em;
	font-size: 2em;
	text-decoration: none;
	padding-right: 0.2em;
	background-color: #faefcf;
}



#maincol {
	height: 100%;
	width: 50%;
	padding-top: 0.5em;
}
	
#maincol td {
	font-family: Helvetica, Arial, sans-serif;
	padding-left: 3em;
	font-size: 1.5em;
	padding-top: 0.5em;
	
}	

#maincol td img {
	font-family: Helvetica, Arial, sans-serif;
	padding-left: 3em;
	font-size: 1.5em;
	padding-top: 0.5em;
	width: 5em;
	height: auto;
}	

		

body {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	background-color: #fcfaf0;
}

#headerbar {
	width: 100%;
	height: 6em;
	background-color: #ffc800;
}

#headerbar a {
	padding-left: 1em;
}

#subbar {
	width: 100%;
	height: 1em;
	background-color: #e0ddce;
}

a {
	text-decoration: none;
}